# Maven build directory
target/*
!target/blackjack-api-0.0.1-SNAPSHOT.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# MacOS
.DS_Store

# Git
.git
.gitignore

# Docker itself
Dockerfile
.dockerignore

# Env files
.env

# Markdown and docs
*.md