# Maven build directory
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# MacOS
.DS_Store

# Git
.git
.gitignore

# Docker itself
Dockerfile
.dockerignore

# Env files
.env

# Markdown and docs
*.md